.top-nav
  %div
    - if @current_hero
      Today's support hero is:
      %span.current-hero= @current_hero
    - else
      No one is on duty today

  %div
    = label_tag 'employee', 'View Schedule For:'
    = select_tag(:employee, options_from_collection_for_select(Employee.all,
                              "id", "name", params[:employee_id]),
                              { :include_blank => "Everyone" } )

  %div
    = link_to "Clear Schedule", clear_schedules_path, { method: :delete,
        data: { :confirm => "Are you sure you would like to clear the schedule?" } }

  %div
    = link_to "Load Schedule", nil, { :id => "schedule_load_link" }
%div
  %hr
